body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #beb7a4;
}

.calculator {
    background-color: #fffffc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

input#display {
    width: 95%;
    height: 50px;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: right;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #fffffc;
    color: #000000;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 18px;
    border: none;
    background-color: #000000;
    color: #fffffc;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #444444;
}
